<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Total</title>
</head>
<body>
    <h2>calculate Total</h2>
    <div>
        <p>Total Cost: $<%= totalCost.toFixed(2) %></p>
    </div>
</body>
</html>
